html
{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    margin: 0;
}

section
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(42, 185, 171);
    text-align: center;
    font-size: large;
    padding: 10px 0;
    color: white;
    font-weight: 600;
}

span
{
    font-weight: bold;
    margin-right: 10px;
    font-size: 2em;
}
