body
{
    width: 100%;
    height:100%;
    margin: 0;
    background: rgb(245,245,245);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content
{
    width: 920px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 10px;
    height: 92%;
    font-family: 'Faustina', serif;
}

.list_wrapper
{
    flex: 2;
    margin-left: 10px;
}

.list
{
    width: 100%;
    height: 90%;
}

.collection-item
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.collection-item span
{
    align-self: flex-start;

}


.collection-item img
{
    max-width: 8%;
    max-height: 10%;
}

.conversation_messages
{
    height: 90%;
    display: flex;
    flex-direction: column;
}

.hiden
{
    display: none;
}

.messages_list
{
    height: 92%;
    background: white;
    padding: 10px 0;
    width: 100%;
    overflow: scroll;
}

.card
{
    display: flex;
    width: 99%;
    margin: 5px auto;
}

.card b
{
    color: rgb(43,187,173);
}


.message-image img
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.message_text
{
    width: 100%;
    margin-right: 10px;
}

.message
{
    border-left: dashed;
    border-left-color: rgb(43,187,173);;
    padding: 0 10px;
    font-size: 1em;
    margin-bottom: 10px;
    margin-right: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.time
{
    text-align: right;
    padding-right: 10px;
    font-weight: 100;
    color: grey;
    font-size: 0.7em;
    width: 100%;
}

.author_name
{
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
}

.unread
{
    background: grey;
}

.message_form
{
    display: flex;
    flex: 2;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.message_form .input-field
{
    flex: 2;
    margin-right: 10px;
}

.input-field
{
    margin: 10px;
    word-break: break-all;
}

.previous_messages
{
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    border: none;
    color: rgb(43,187,173);;
    border-radius: 2px;
    background: rgb(245,245,245);
    opacity: 0.5;
    transition: opacity 1s, background-color 1s, color 1s;
    display: none;
}

.previous_messages:hover
{
    opacity: 1;
    background: rgb(43,187,173);
    color: white;
}

.btn
{
    margin-right: 5px;
}





@media only screen and (max-width: 920px) {

    .content
    {
        width: 100%;
        margin: 5px 10px;
        padding:0;
    }

    .list
    {
        margin:0;
    }

    .list_wrapper
    {
        margin: 0;
    }

    .messages_list
    {
        width: 100%;
    }

    .message_form
    {
        width: 100%;
        bottom: 0;
        position: fixed;
    }

    .previous_messages
    {
        opacity: 1;
        background: rgb(43,187,173);
        color: white;
    }


}
