body
{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(245,245,245);
    height: 100%;
}

.content
{
    width: 920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    height: 92%;
    font-family: 'Faustina', serif;
}

.history
{
    width:100%;
    margin-left: 10px;
    flex: 1;
}

.history ul
{
    margin: 0;
}


.collapsible-body
{
    height:60%;
    padding:0;
    overflow-y:scroll;
    overflow-x: hidden;
}

.card
{
    margin:0;
    display: flex;
    cursor: pointer;
}


.message-image img
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.message_text
{
    width: 100%;
}

.message
{
    border-left: dashed;
    border-left-color: rgb(43,187,173);;
    flex: 100%;
    padding: 0 10px;
    font-size: 1em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.message div
{
    width: 50%;
    color: grey;
}

.message_part
{
    text-align: left;
}

.author_name
{
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    color:rgb(43,187,173);
    width: 100%;
}

.message_form
{
    display: flex;
    flex: 2;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    background: white;
}


@media only screen and (max-width: 920px) {

    .history
    {
        width: 100%;
        margin: 5px 0;
        padding:0;
        overflow: hidden;

    }

    .history ul
    {
        width: 100%;
        margin: 0;
    }


}
