html
{
    background: rgb(245,245,245);
}

body
{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}


.content
{
    width: 920px;
    display: flex;
    margin-top: 10px;
    justify-content:space-between;
    font-family: 'Faustina', serif;
}


.scale-transition
{
    margin: 0 10px;
    flex:2;
}


.info
{
    flex-direction: column;
    text-align: center;
}

.info input
{
    text-align: center;
}

.sex_wrapper
{
    display: flex;
    justify-content: space-around;
}

.preferences, .sex
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.user_photo
{
    text-align: center;
    display: none;
}

.user_photo nav
{
    all: initial;
    display: flex;
    justify-content: space-between;
}

.user_photo nav button
{
    margin: 5px;
}


.user_photo nav button i
{
    display: block;
    margin: 5px;
}

.user_photo .carousel-item img
{
        max-width: 200px;
        max-height: 200px;
}

.user
{
    display: none;
    text-align: center;
}

.user input
{
    text-align: center;
}

.nav_bar
{
    width:190px;
    cursor: pointer;
    text-align: center;
}

.bad
{
    left: 0;
}

button i
{
    line-height: 36px;
}

.hiden
{
    display: none;
}

span
{
    color: #9e9e9e;
}

@media only screen and (max-width: 650px) {

    .content
    {
        width: 100%;
        flex-direction: column;
    }

    .nav_bar
    {
        width: 100%;
        margin-top: 10px;
    }
}