.nav
{
    background: white;
    margin-top:10px;
    padding:10px;
    display:flex;
    flex-direction:column;
}

.btn
{
    margin-top:10px;
    display: none;
}

.rate
{
    display: flex;
}

.relation_status
{
    text-align: center;
    background: rgb(42, 185, 171);
    color: white;
    border-radius: 5px;
    padding: 10px;
    display: none;
}
