body
{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(245,245,245);
}

.content
{
    margin-top: 10px;
    width: 920px;
    display: flex;
}

.search
{
    flex: 2;
    margin-left: 10px;
}

.search_creeterea
{
    background: white;
}

.btn
{
    margin-bottom: 10px;
}


.nav-wrapper
{
    background: rgb(42, 185, 171);
    margin-bottom: 10px;
}

.sort
{
    width: 100%;
}

.gap_creeterea
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.sort_creeterea
{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.sort_creeterea li
{
    flex: 1;
    text-align: center;
}

.button_wrapper
{
    text-align: center;
}

#tag_holder
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.result
{
    margin-top: 10px;
    width: 100%;
}

.collection
{
    margin: 10px;
    width: 100%;
}

.collection li
{
    margin-top: 10px;
}

.card
{
    margin:0;
    display: flex;
    cursor: pointer;
}


.message-image img
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.message_text
{
    width: 100%;
}

.message
{
    border-left: dashed;
    border-left-color: rgb(43,187,173);;
    flex: 100%;
    padding: 0 10px;
    font-size: 1em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.message div
{
    width: 50%;
    color: grey;
}

.message_part
{
    text-align: left;
}

.author_name
{
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    color:rgb(43,187,173);
    width: 100%;
}

#tip
{
    text-align: center;
    color: gray;
    word-wrap: break-word;
}

@media only screen and (max-width: 920px) {

    .search
    {
        width: 100%;
        margin: 0 10px;
    }

    .gap_creeterea
    {
        flex-wrap: wrap;
    }

}