
.collection
{
    margin: 0;
}

.collection a.collection
{
    display: flex;
}

.menu
{
    width: 180px;
    margin: 0;
}

.new
{
    display: none;
}

.disabled
{
    text-decoration-color: grey;
}

btn:hover
{
    cursor: pointer;
}

@media only screen and (max-width: 920px) {

    .content
    {
        width: 100%;
    }

    .menu
    {
        position: fixed;
        margin-top: -10px;
        width: 100%;
        z-index: 10;
        display: none;
    }
}